*{
    padding: 0;
    margin: 0;
}
.container{
    width: 90%;
    margin: 0 auto;
}


#header{
    -webkit-box-shadow: 0 10px 14px 0 rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 10px 14px 0 rgba(34, 60, 80, 0.2);
    box-shadow: 0 10px 14px 0 rgba(34, 60, 80, 0.2);
    margin: 0 0 60px 0;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.headTitleCol{
    color: #F46A06;
    margin: 0 0 0 10px ;
}
.headerTitle{
    display: flex;
    align-items: center;
    text-shadow: 4px 4px 5px gray;

}
.headAbout{
     color: white;
    background:#F46A06 ;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 10px;
 transition: 0.5s;
    -webkit-box-shadow: 4px 5px 8px 0 rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 5px 8px 0 rgba(34, 60, 80, 0.2);
    box-shadow: 4px 5px 8px 0 rgba(34, 60, 80, 0.2);
    margin: 10px 0;
}
.headAbout:hover{
    padding: 15px 20px;
font-size: 20px;
}
/*hero*/
#hero{
    border-bottom: solid 40px #F46A06;
    /*border-bottom-right-radius: 100px;*/
    /*border-bottom-left-radius: 100px;*/
    padding: 0 0 20px 0;
}
.heroTitle{
    font-size: 50px;
    text-shadow: 14px 14px 15px gray;
}
.hero{
    display: flex;
    justify-content: space-between;
}
/*slider*/
.menuSliderBlock{
width: 500px;
}
.mySwiper{

}
.menu{
    padding: 90px 0 0 0 ;
    display: flex;
    justify-content: space-between;
}
.menuTitleBlock{
    width: 500px;

}
.menuTitle{
    text-shadow: 14px 14px 15px gray;
}
.imgSlider{
  
}
/*place*/
.place{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
 }
.placeTitle{
    text-shadow: 14px 14px 15px gray;
}
.placeLine{
    width: 100%;
    height: 20px;
    background: #F46A06;
    margin: 90px 0;
    border-top-right-radius: 500px;
    border-top-left-radius: 500px;
}
/*footer*/
#footer{
    -webkit-box-shadow: 0 -20px 17px 0 rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 -20px 17px 0 rgba(34, 60, 80, 0.2);
    box-shadow: 0 -20px 17px 0 rgba(34, 60, 80, 0.2);
    margin: 90px 0 0 0;
 }
.footerLine{
    width: 100%;
    height: 1px;
    background: #F46A06;
    -webkit-box-shadow: 0 0 43px 6px rgba(34, 60, 80, 0.45);
    -moz-box-shadow: 0 0 43px 6px rgba(34, 60, 80, 0.45);
    box-shadow: 0 0 43px 6px rgba(34, 60, 80, 0.45);
    margin: 50px 0;
}
/*about*/
.aboutButton{
    padding: 10px 15px;
    background: #F46A06;
    color: white;
    text-decoration: none;
    font-size: 20px;
    border-radius: 20px;

}
.aboutTitle{
    margin: 20px 0;
}
.aboutImgBlock{
    display: flex;
}
.aboutImgBlock img{
    width: 30%;
    margin: 40px;
}
.maps{
    width: 500px;
    height: 400px;
}
/*adaptive*/
@media (max-width: 992px) {
    .heroImg{
        width: 40%;
    }
    .menuTitle {
         font-size: 30px;
    }
}
@media (max-width: 776px) {
    .menuSliderBlock{
        width: 300px;
    }
    .menuTitle {
        font-size: 21px;
    }
    .menuTitleBlock {
        display: flex;
        align-items: center;
        padding: 0 0 0 30px;
     }
    .placeTitle {
         font-size: 21px;
    }
}
@media (max-width: 576px) {
    .heroTitle {
        font-size: 32px;
     }
    .aboutImgBlock img {
        width: 70%;
     }
    .aboutImgBlock {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 451px) {
    .hero {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .heroImg {
        width: 66%;
        margin: 20px auto;
    }
    .menu {
        flex-direction: column-reverse;
        align-items: center;
    }
    .menuTitleBlock {
        width: 90%;
    }
    .place {
        flex-direction: column-reverse;
        align-items: center;
    }
    .placeTitle {
        font-size: 21px;
        margin: 20px 0;
    }
    .headAbout {
        padding: 6px 10px;
    }
    .headerTitle {
        font-size: 27px;
    }
}

